/* MemberRow */
.member-role {
  margin-bottom: 0;
}

.new-member-style {
  padding: 10px;
  // background-color: lightgray;
  background-color: white;
  // border: 1px solid black;
}



/*
    PHONE
 */
@media (max-width : 480px) {


}

/*
    TABLET
 */
@media (min-width : 481px) and (max-width : 1024px) {


}

/*
    DESKTOP & LAPTOP
 */
@media (min-width : 1025px) {

}
